doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/shop.css")
        link(rel="stylesheet", href="/css/add-product.css")
        link(rel="stylesheet", href="/css/form.css")
    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                     a(href="/") Shop
                    li.main-header__item
                     a(href="/products") Products
                    li.main-header__item
                     a.active(href="/admin/add-product") Add Product
                    li.main-header__item
                     a(href="/logout") Logout
                
            
           
   

        main
        
            form.product-form(action="/admin/add-product", method='POST')
                div.form-control
                    label(for="title") Title
                    input(type="text", name="title", required)#title
            
            
                button.btn(type="submit") Add Product
    